<div class="introduction">
	<p class="asidetitle"><%= __('about') %></p>
    <p><b>梁爽</b>，网名<b>冰河魔法师</b>，英文名简称<b>Icer</b>，现就职于霍尼韦尔(中国)，自动化领域工具软件架构师一名，94年接触计算机，99年开始写程序，08年做架构带团队，自此奠定了未来往架构师方向发展的重要目标。虽广泛涉猎各种计算机技术，但因深度熟悉QB、VB、.Net技术而被标记为微软派。</p>
    <p>架构设计和程序设计本是完全没有高低的两个不同工作，但误解常在，所以不断通过自己的亲身实践让更多人真正的理解架构师这一容易被人误解的工种，并让有志之士走上架构师之路。</p>
</div>
