<div class="introduction">
	<p class="asidetitle"><%= __('about') %></p>
    <p><b>汐亚</b>，英文名<b>Hiya</b>，大龄文艺女青年一枚，职业编辑，非全职摄影师，当下的人生理想是快点把女儿（未满1岁）嫁出去。2010年入手第一台单反，从此踏上烧钱的不归路。最喜欢的方向是时装人像摄影，不过现阶段积累最多的却是风景与纪实类。与诗人水杉合作的【诗·摄影】系列正在缓慢更新中。
    </p>
    <p><img src='http://hiyaphoto.qiniudn.com/blog/self/wechat.jpg' style='width:100%' /></p>
</div>
